{% extends 'index.html' %} 
{% load static %} 
{% block body %}


<section class="page-header bg_img padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title">Canteen Automation Contact us</h4>
            <ul class="lab-ul">
                <li><a href="/">Home</a></li>
                <li><a class="active">Contact us</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->

<!-- Contact Us Section Start Here -->
<div class="contact-section padding-tb">
    <div class="container">
        <div class="contac-top">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-6 col-12">
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="icofont-google-map"></i>
                        </div>
                        <div class="contact-details">
                            <p>Anandgram,Talegoan Dhamdhere, Shirur, Pune</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-12">
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="icofont-phone"></i>
                        </div>
                        <div class="contact-details">
                            <p>+91-9922755226, +91-8605917957</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-12">
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="icofont-envelope"></i>
                        </div>
                        <div class="contact-details">
                            <p>canteenautomation@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
<!-- Contact Us Section ENding Here -->



<!-- Feature section ending here -->
{% include 'footer.html' %}
{% endblock %}